<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center wow fadeIn">
                <h2 class="section-heading">Hey, Welcome Im Lewis Joyeux</h2>
                <hr class="light">
                <p class="text-faded">i'm a 3D artist with experience in modelling, UV mapping, Texturing, lighting, animation and rendering. I enjoy every aspect of 3D modelling whether thats realistic, cartoony or stylized projects. I especialy enjoy creating objects and scenes for videogames as thats what i studied in college for 2 years and now im currently at university</p>
            </div>
        </div>
    </div>
</section>
