 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1673px;
}

.u-section-1 .u-text-1 {
  font-size: 4.0625rem;
  line-height: 1;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin: 48px auto 0;
}

.u-section-1 .u-video-1 {
  height: 556px;
  width: 988px;
  margin: 28px auto 0;
}

.u-section-1 .u-text-2 {
  text-align: center;
  line-height: 39.6px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  margin: 48px auto 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 28px 81px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1630px;
  }

  .u-section-1 .u-video-1 {
    height: 529px;
    width: 940px;
    margin-top: 3px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 93px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-1 .u-video-1 {
    height: 405px;
    width: 720px;
    margin-top: -65px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 37px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-1 .u-video-1 {
    height: 304px;
    width: 540px;
    margin-top: -110px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-video-1 {
    height: 191px;
    width: 340px;
    margin-top: -27px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -137px;
  }

  .u-section-1 .u-text-3 {
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 204px;
}