 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2095px;
}

.u-section-1 .u-text-1 {
  font-size: 4.0625rem;
  line-height: 1;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-1 .u-image-1 {
  width: 449px;
  height: 449px;
  margin: 100px 631px 0 60px;
}

.u-section-1 .u-text-2 {
  text-align: center;
  line-height: 39.6px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  margin: -449px 192px 0 auto;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 18px 0 0 509px;
}

.u-section-1 .u-image-2 {
  width: 449px;
  height: 449px;
  margin: 127px 0 0 auto;
}

.u-section-1 .u-text-4 {
  text-align: center;
  margin: -399px auto 0 258px;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  font-size: 1.125rem;
  text-align: center;
  margin: 52px 509px 0 40px;
}

.u-section-1 .u-image-3 {
  width: 449px;
  height: 449px;
  margin: 177px auto 0 27px;
}

.u-section-1 .u-text-6 {
  text-align: center;
  margin: -365px 169px 0 auto;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  font-size: 1.125rem;
  text-align: center;
  margin: 60px 0 60px 549px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: 491px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -444px;
    margin-right: 121px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-left: 449px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 168px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 449px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 447px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -673px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2696px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 9px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 103px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 103px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 34px;
    margin-left: 38px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: 113px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2761px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 49px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2434px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: 264px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 340px;
    margin-top: 97px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 340px;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
  }
}